html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-success .mdc-snackbar__surface {
  background-color: #2e7d32 !important;
}

.toast-error .mdc-snackbar__surface {
  background-color: #c62828 !important;
}
